@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Quicksand', sans-serif;
  background-color: #f5f5f5;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
